anaconda-navigator==2.2.0
anaconda-project @ file:///tmp/build/80754af9/anaconda-project_1626085644852/work
conda==4.13.0
conda-build==3.21.6
docopt==0.6.2
docutils @ file:///C:/ci/docutils_1620828264669/work
docx2txt==0.8
keras==2.9.0
Keras-Preprocessing==1.1.2
lazy-object-proxy @ file:///C:/ci/lazy-object-proxy_1616529288960/work
matplotlib @ file:///C:/ci/matplotlib-suite_1634667159685/work
matplotlib-inline @ file:///tmp/build/80754af9/matplotlib-inline_1628242447089/work
nltk==3.6.5
numpy @ file:///C:/ci/numpy_and_numpy_base_1626271900803/work
numpydoc @ file:///tmp/build/80754af9/numpydoc_1605117425582/work
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
pandas @ file:///C:/ci/pandas_1635506685681/work
pdfminer.six==20220319
pdfplumber==0.6.2
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.1.1
pipreqs==0.4.11
pkginfo==1.7.1
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1653649755816/work
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-lsp-black @ file:///tmp/build/80754af9/python-lsp-black_1634232156041/work
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
python-pptx==0.6.21
scikit-image==0.18.3
scikit-learn==1.1.1
scikit-learn-intelex==2021.20210714.120553
scipy @ file:///C:/ci/scipy_1630606917240/work
seaborn @ file:///tmp/build/80754af9/seaborn_1629307859561/work
tensorflow==2.9.0
tensorflow-estimator==2.9.0
tensorflow-io-gcs-filesystem==0.26.0
textblob==0.17.1
textract==1.6.5
tldextract @ file:///home/conda/feedstock_root/build_artifacts/tldextract_1651716465325/work
virtualenv==20.14.1
xgboost==1.5.0
xlrd @ file:///home/conda/feedstock_root/build_artifacts/xlrd_1610224409810/work
